<ion-view style="" id="page9" title="Cuenta">
    <ion-content class="has-header" padding="true">
        <ion-list id="detalleClub-list6">
            <ion-item style="" id="detalleClub-list-item8"><b>Nombre:</b> {{user.first_name}}</ion-item>
            <ion-item style="" id="detalleClub-list-item9"><b>Apelllidos:</b> {{user.last_name}}</ion-item>
            <ion-item style="" id="detalleClub-list-item9"><b>Email:</b> {{user.email}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>