<ion-view style="" id="page4" title="Clubs">
    <ion-content class="has-header" padding="true">
        <h3 style="color: rgb(0, 0, 0);" id="inicio-heading3">Mis clubs</h3>
        <div class="list">
        	<a class="item item-icon-left" href="#" ng-repeat="club in clubs">
    				<i class="ion-happy"></i>
    				{{club.name}}
    				<span class="badge badge-assertive" ng-if="club.is_active">Active</span>
				    <span class="item-note">
				    {{club.description}}
				    </span>
  				</a>
        </div>
    </ion-content>
</ion-view>