<ion-view style="" id="page4" title="Inicio">
    <ion-content class="has-header" padding="true">
        <h3 style="color: rgb(0, 0, 0);" id="inicio-heading3">{{user.name}}</h3>
        <ion-list id="inicio-list11">
            <ion-item style="" id="inicio-list-item28">Item 1</ion-item>
            <ion-item style="" id="inicio-list-item29">Item 2</ion-item>
            <ion-item style="" id="inicio-list-item30">Item 3</ion-item>
        </ion-list>
        <div style="width: 286px; height: 47px;" class="spacer"></div>
        <h3 style="color: rgb(0, 0, 0);" id="inicio-heading4">Ultimos eventos</h3>
        <ion-list id="inicio-list13">
            <ion-item style="" id="inicio-list-item32" class="item-icon-left">
                <i class="icon ion-android-alarm-clock"></i>evento1</ion-item>
        </ion-list>
    </ion-content>
</ion-view>