<ion-view style="" id="page2" title="Login">
    <ion-content class="has-header" padding="true">
        <form class="list" id="login-form1">
            <ion-list id="login-list1">
                <label id="login-input1" class="item item-input">
                    <span class="input-label">Email</span>
                    <input placeholder="" type="text" ng-model='user.email'>
                </label>
                <label id="login-input2" class="item item-input">
                    <span class="input-label">Password</span>
                    <input placeholder="" type="password" ng-model='user.password'>
                </label>
            </ion-list>
            <div style="height: 40px;" class="spacer"></div>
            <button class="button button-assertive  button-block" id="login-button10">Ingresar usando Google+</button>
            <button class="button button-positive  button-block" id="login-button9" ng-click="fbLogin()">Ingresar usando Facebook</button>
            <button class="button button-stable  button-block" id="login-button6" ng-click="Login()">Ingresar</button>
            <a class="button button-positive  button-block button-clear" id="login-button7" href="#/signup">O crear una cuenta</a>
        </form>
    </ion-content>
</ion-view>
