<ion-side-menus enable-menu-with-back-views="true">
    
    <ion-side-menu-content>
        <div class="bar bar-header">
            <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        </div>
        <ion-nav-view name="fabContent"></ion-nav-view>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="expanded">
            <h2>App</h2>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <div class="list">
                <a class="item item-icon-left" href="#/app/dash">
                    <i class="icon ion-home"></i>
                    Inicio
                </a>
                <a class="item item-icon-left" href="#/app/account">
                    <i class="icon ion-person"></i>
                    Perfil
                </a>
                <a class="item item-icon-left" href="#/app/clubs">
                    <i class="icon ion-star"></i>
                    Clubs
                </a>
                <a class="item item-icon-left" href="#/app/margens">
                    <i class="icon ion-clock"></i>
                    Franjas
                </a>
                <a class="item item-icon-left" ng-click="Logout()">
                    <i class="icon ion-android-exit"></i>
                    Salir
                </a>
            </div>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>
