<ion-view style="" id="page3" title="Registro">
    <ion-content class="has-header" padding="true">
        <form class="list" id="registro-form2">
            <ion-list id="registro-list2">
                <label id="registro-input4" class="item item-input">
                    <span class="input-label">Email</span>
                    <input placeholder="" type="text" ng-model="user.email">
                </label>
                <label id="registro-input5" class="item item-input">
                    <span class="input-label">Password</span>
                    <input placeholder="" type="text" ng-model="user.password">
                </label>
            </ion-list>
            <div style="width: 286px; height: 38px;" class="spacer"></div>
            <ion-list id="registro-list4">
                <label id="registro-input13" class="item item-input">
                    <span class="input-label">Nombre</span>
                    <input placeholder="" type="text" ng-model="user.first_name">
                </label>
                <label id="registro-input14" class="item item-input">
                    <span class="input-label">Apellidos</span>
                    <input placeholder="" type="text" ng-model="user.last_name">
                </label>
            </ion-list>
            <div style="width: 286px; height: 38px;" class="spacer"></div>
            <div class="button-bar" id="ediciNClub-button-bar3">
                <button class="button button-stable  button-block" ng-click="cancel()">Cancelar</button>
                <button class="button button-positive  button-block" ng-click="signup()">Registro</button>
            </div>
        </form>
    </ion-content>
</ion-view>