<ion-view style="" id="page8" title="Crear club">
    <ion-content class="has-header" padding="true">
        <form class="list" id="ediciNClub-form6">
            <label id="ediciNClub-input15" class="item item-input">
                <span class="input-label">Nombre</span>
                <input placeholder="" type="text" ng-model="club.name">
            </label>
            <label id="ediciNClub-textarea2" class="item item-input">
                <span class="input-label">Descripción</span>
                <textarea placeholder="" ng-model="club.description"></textarea>
            </label>
            <div style="height: 100px;" class="spacer"></div>
            <div class="button-bar" id="ediciNClub-button-bar3">
                <button class="button button-positive  button-block" id="ediciNClub-button19" ng-click="create()">Finalizar</button>
            </div>
        </form>
    </ion-content>
</ion-view>