<ion-view style="" id="page5" title="Paso 1">
    <ion-content class="has-header" padding="true">
        <form class="list" id="paso1-form3">
            <ion-list id="paso1-list5">
                <label id="paso1-input10" class="item item-input">
                    <span class="input-label">Herbalife id</span>
                    <input placeholder="" type="text" ng-model="user.herbalife_id">
                </label>
                <label id="paso1-input9" class="item item-input">
                    <span class="input-label">Referencia</span>
                    <input placeholder="" type="text" ng-model="user.herbalife_ref">
                </label>
            </ion-list>
            <div style="height: 100px;" class="spacer"></div>
            <button class="button button-positive  button-block" id="paso1-button11" ng-click="submit_step1()">Siguiente</button>
        </form>
    </ion-content>
</ion-view>