<ion-view style="" id="page6" title="Paso 2">
    <ion-content class="has-header" padding="true">
        <form class="list" id="paso2-form5">
            <button class="button button-stable  button-block" id="paso2-button15" ng-click="step3new()">Crear club</button>
            <button class="button button-stable  button-block" id="paso2-button16" ng-click="step3join()">Unirse a un club</button>
        </form>
    </ion-content>
</ion-view>