<ion-view style="" id="page8" title="Unirse club">
    <ion-content class="has-header" padding="true">
        <form class="list" id="ediciNClub-form6">
            <label id="ediciNClub-input15" class="item item-input">
                <span class="input-label">Codigo club</span>
                <input placeholder="" type="text" ng-model="club.code">
            </label>
            <div style="height: 100px;" class="spacer"></div>
            <div class="button-bar" id="ediciNClub-button-bar3">
                <button class="button button-positive  button-block" id="ediciNClub-button19" ng-click="join()">Finalizar</button>
            </div>
        </form>
    </ion-content>
</ion-view>