<ion-view view-title="Login" align-title="left">
    <ion-content style="background-color: grey; center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <!--<div class="app-icon"></div>-->
                <h1>app</h1>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Usuario" type="text" ng-model='user.email'>
            </ion-md-input>
            <ion-md-input placeholder="Contraseña" type="password" ng-model='user.password'>
            </ion-md-input>
        </div>
        <div class="padding">
            <button class="button button-full button-assertive ink" ng-click="Login()">Ingresar</button>
        </div>
        <div class="padding">
            <button class="button button-full button-assertive ink" ng-click="Signup()">Crear cuenta</button>
        </div>  
        <div class="button-bar">
            <button class="button button-small button-border icon-left">Google+</button>
            <button class="button button-small button-border icon-left" ng-click="fbLogin()">Facebook</button>
        </div>
    </ion-content>
</ion-view>
