<ion-view view-title="Main">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/orange.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('//graph.facebook.com/{{user.id}}/picture');"></div>
                <h3><a class="light">{{user.name}}</a></h3>
                <h4>Estudiante club central</h4>
            </div>
        </div>
    </ion-content>
</ion-view>
