<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-right': hasHeaderFabLeft, 'has-header-fab-left': hasHeaderFabRight}" align-title="right">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="fabContent"></ion-nav-view>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="dark-bg expanded">
            <span class="avatar" style="background: url('img/logo_app.png'); background-size: cover;"></span>
            <h2>app bienestar</h2>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <ion-list>
                <ion-item nav-clear menu-close>
                    Actividad
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="login">
                    Login
                </ion-item>
                <ion-item nav-clear menu-close>
                    Perfil
                </ion-item>
                <ion-item nav-clear menu-close>
                    Amigos
                </ion-item>
                <ion-item nav-clear menu-close>
                    Menu
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
