<ion-view view-title="Step2" align-title="left">
    <ion-header-bar class="bar-dark">
        <h1 class="title">Registro 1/2</h1>
    </ion-header-bar>
    <ion-content>
    <!-- our list and list items -->
        <ion-list>
            <ion-item>
                <label class="item item-input">21
                    <input type="text" placeholder="Placeholder 1">
                </label>
            </ion-item>
            <ion-item>
                <label class="item item-input">13
                    <input type="text" placeholder="Placeholder 2">
                </label>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

