<ion-view view-title="Step2" align-title="left">
    <ion-header-bar class="bar-dark">
        <h1 class="title">Registro 1/2</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Last Name">
  </label>
</div>
    </ion-content>
    <div class="bar bar-footer bar-dark">
        <a class="button icon-left ion-chevron-left button-clear button-dark">Anterior</a>
        <a class="button icon-left ion-chevron-rigth button-clear button-dark">Siguiente</a>
    </div>
</ion-view>

